@import url("chrome://global/skin/");
@import url("chrome://mozapps/skin/pref/pref.css");

radio[pane] {
  list-style-image: url("chrome://downloadbar/skin/toolbar.png");
}
radio[pane=behaviourPane] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane=appearancePane] {
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}
radio[pane=miscPane] {
  -moz-image-region: rect(0px, 96px, 32px, 64px);
}

#downloadbar-opt-tabpanels {
  -moz-appearance: none;
}

.tabsbgd {
  -moz-appearance: none;
}

.helpButton {
  background: url("chrome://downloadbar/skin/help_icons.png") 0 0 no-repeat;
  display: block;
  width: 11px;
  height: 12px;
}

.helpButton:hover {
  background-position: -11px 0;
}

.helpButton:active {
  background-position: -22px 0;
}

#mdb-helpWindow {
  border: 1px solid rgba(0,0,0,.35);
  border-radius: 5px 5px 0px 0px !important;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
              0 2px 2px rgba(255,255,255,.35) inset,
              0 -1px 2px rgba(0,0,0,.1) inset,
              0 1px 0 rgba(255,255,255,.35);
}

.closeButton {
  -moz-appearance: none;
  list-style-image: url("chrome://downloadbar/skin/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
  border: none;
  -moz-margin-end: -10px;
  margin-top: -5px;
}

.closeButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.closeButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.rounded {
  border-radius: 10px;
}

.fontbold {
  font-weight: bold;
  color: rgb(94,94,94);
}

.fonttitle {
  font-weight: bold;
  font-size: 13px;
  color: rgb(94,94,94);
}

#mdbHelpID {
  color: dimgray;
  font-size: 8px;
}

#downloadbar-bar stack.downloadbar-dwnldtmstck{
  border: 1px solid rgba(113, 144, 152, 0.5);
  margin-right:3px;
}

#downloadbar-bar hbox.downloadbar-dwnldtmhbx{
  padding-left:3px;
}

/*#downloadbar-downloadpanel{
  margin: 6px 6px 0 6px;
}*/

#downloadbar-downloadpanel stack.downloadbar-dwnldtmstck{
  border: 1px solid rgba(113, 144, 152, 0.5);
  margin-bottom:5px;
}

#downloadbar-downloadpanel stack:last-of-type{
  margin-bottom:0;
}

.mdbpromo {
  padding: 5px 10px 0 !important;
}

#downloadbar-pnlbll {
  border: 1px solid rgba(113, 144, 152, 0.5);
  background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);  
}

#downloadbar-itempanel *,#downloadbar-itempanel > *{
  transition: none !important;
}

#downloadbar-cntr {
  margin-right: -4px;
  margin-left: 1px;
  /*border-radius: 40px 10px;
  width: 100%;
  height: 10px;
  background-color: #686458;
  color: #FFFFFF;*/
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center;*/
}

#downloadbar-ddnbr-septor {
  margin-left: 1px;
}

#downloadbar-ddnbr {
  list-style-image:url('chrome://downloadbar/skin/toolbar_icons.png');
  -moz-image-region: rect(0 16px 16px 0);
}

#downloadbar-ddnbr[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #downloadbar-ddnbr {
	-moz-image-region: rect( 0 48px 32px 16px);
}

#downloadbar-bar {
  -moz-appearance: none;
  border-top-style: none;
  border-bottom-style: none;
  padding-top: 1px;
  background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

#downloadbar-bar .toolbarbutton-1:not([disabled]):hover,
#downloadbar-bar .toolbarbutton-1[open],
#downloadbar-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
  background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
                    linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
                    linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
  background-position: left, left, right;
  background-size: auto, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}

.downbutton, .clearbutton {
  list-style-image: url("chrome://downloadbar/skin/bar_icons.png");
}

.closebutton {
  -moz-appearance: none;
  border: none;
}

.closebutton > .toolbarbutton-text {
  padding: 0;
  margin: 0;
}

#mdbHelp-close {
  -moz-appearance: none;
  list-style-image:url('chrome://downloadbar/skin/closeAu.png');
  -moz-image-region: rect(0, 16px, 16px, 0);
  border: none;
}

#mdbHelp-close:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#mdbHelp-close:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#downloadbar-close-button {
  margin: 1px 2px 0 0 !important;
}

.downbutton {
  -moz-appearance: none;
  -moz-image-region: rect(16px, 16px, 32px, 0);
  border: none;
  padding: 0 2px 0 0;
}

.downbutton:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

.downbutton:hover:active {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

.clearbutton {
  -moz-appearance: none;
  -moz-image-region: rect(32px, 16px, 48px, 0);
  border: none;
  padding: 0 2px;
}

.clearbutton:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

.clearbutton:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

#downloadbarButton {
  margin: 0 4px 0 2px;  
}

#downloadsbar-statusbar-menu > menuitem,
#downloadsbar-downnloads-menu > menuitem,
#downloadsbar-downnloads-submenu > menuitem,
#downloadsbar-downnloads-panbutclickmenu > menuitem,
#downloadsbar-sendtomn > menuitem,
#downloadsbar-downnloads-menupnl > menuitem,
#downloadsbar-dwnlds,
#downloadsbar-cpymenu,
#downloadsbar-sendto {
  list-style-image: url("chrome://downloadbar/skin/menus_icons.png");
}

#downloadsbar-slmenu {
  -moz-image-region: rect(16px, 16px, 32px, 0);
  font-weight:bold;
}

#downloadsbar-shwfl {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#downloadsbar-shwmngr {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}

#downloadsbar-vrscn {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

#downloadsbar-chksm {
  -moz-image-region: rect(32px, 128px, 48px, 112px);
}

#downloadsbar-rnm {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

#downloadsbar-sendto {
  -moz-image-region: rect(0, 160px, 16px, 144px);
}

#downloadsbar-sendto-desktp {
  -moz-image-region: rect(0, 144px, 16px, 128px) !important;
}

#downloadsbar-sendto-dwnlds {
  -moz-image-region: rect(16px, 144px, 32px, 128px) !important;
}

#downloadsbar-sendto-cstm {
  -moz-image-region: rect(32px, 144px, 48px, 128px) !important;
}
#downloadsbar-dltfl {
  -moz-image-region: rect(16px, 80px, 32px, 64px);
}

#downloadsbar-gtdwnlpg {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}

#downloadsbar-cpydwnldlnk {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}

#downloadsbar-cncl {
  -moz-image-region: rect(32px, 80px, 48px, 64px);
}

#downloadsbar-strt {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}

#downloadsbar-pause {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

#downloadsbar-clr {
  -moz-image-region: rect(0, 128px, 16px, 112px);
}

#downloadsbar-clrll {
  -moz-image-region: rect(0, 128px, 16px, 112px);
}

#downloadsbar-dmclose {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

#downloadsbar-help {
  -moz-image-region: rect(0, 96px, 16px, 80px);
}

#downloadsbar-dwnlds {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#downloadsbar-pslldwnlds,
#downloadsbar-pslldwnldspnl {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

#downloadsbar-rsmlldwnlds,
#downloadsbar-rsmlldwnldspnl {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}

#downloadsbar-cncllldwnlds,
#downloadsbar-cncllldwnldspnl {
  -moz-image-region: rect(32px, 80px, 48px, 64px);
}

#downloadsbar-dmclearall,
#downloadsbar-dmclearallpnl {
  -moz-image-region: rect(0, 128px, 16px, 112px);
}

#downloadsbar-dwnldtb {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#downloadsbar-shwDwnldsHstry {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}

#downloadsbar-sttstcs {
  -moz-image-region: rect(32px, 112px, 48px, 96px);
}

#downloadsbar-compactmode {
  -moz-image-region: rect(16px, 160px, 32px, 144px);
}

#downloadsbar-ptns {
  -moz-image-region: rect(0, 80px, 16px, 64px);
}

#downloadsbar-cpymenu {
  -moz-image-region: rect(16px, 128px, 32px, 112px);
}

#downloadbar-itempanel-closebutton {
  -moz-appearance: none;
  border: 0;
  margin: -25px -11px 0 0 !important;
}

#downloadbar-itempanel-srclbl,
#downloadbar-itempanel-trgtlbl {
  text-decoration: none;
  width: 300px;
}

#downloadbar-ppprvwimg {
  width:128px;
  height:128px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 128px;
  margin:-32px 12px 0 10px;
}

.link {
  color: #3366FF;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
}

.colorbutton {
  min-width: 38px;
  max-width: 38px;
  min-height: 24px;
  max-height: 24px;
  padding-top: 1px;
}

.colorbox {
  min-width: 26px;
  max-width: 26px;
  height: 12px;
  margin-left: -1px;
  border: 1px solid #000000;
}

#downloadsbar-downnloads-menu,
#downloadsbar-downnloads-panbutclickmenu,
#downloadsbar-downnloads-submenu,
#downloadsbar-statusbar-menu,
#downloadsbar-sendtomn,
#downloadsbar-copy-menu {
  -moz-appearance: none;
  -moz-binding: url("chrome://global/content/bindings/popup.xml#arrowpanel");
  background: transparent;
  border: none;
}

#downloadsbar-downnloads-menu[side="top"],
#downloadsbar-downnloads-menu[side="bottom"],
#downloadsbar-downnloads-panbutclickmenu[side="top"], 
#downloadsbar-downnloads-panbutclickmenu[side="bottom"] {
  margin-left: -20px;
  margin-right: -20px;
}

#downloadsbar-downnloads-menu[side="left"],
#downloadsbar-downnloads-menu[side="right"],
#downloadsbar-downnloads-panbutclickmenu[side="left"], 
#downloadsbar-downnloads-panbutclickmenu[side="right"] {
  margin-top: -20px;
  margin-bottom: -20px;
}

#downloadsbar-downnloads-menu > menu,
#downloadsbar-downnloads-menu > menuitem,
#downloadsbar-downnloads-panbutclickmenu > menuitem,
#downloadsbar-downnloads-submenu > menuitem,
#downloadsbar-sendtomn > menuitem,
#downloadsbar-copy-menu > menuitem,
#downloadsbar-statusbar-menu > menu,
#downloadsbar-statusbar-menu > menuitem {
  -moz-appearance: none;
  padding: 2px 6px;
  background-color: hsla(210,4%,10%,0);
  border-radius: 2px;
  border: 1px solid;
  border-color: hsla(210,4%,10%,0);
  transition-property: background-color, border-color;
  transition-duration: 150ms;
}

#downloadsbar-downnloads-menu > menu:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-downnloads-menu > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-downnloads-panbutclickmenu > menu:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-downnloads-panbutclickmenu > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-sendtomn > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-downnloads-submenu > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-copy-menu > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-statusbar-menu > menu:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover,
#downloadsbar-statusbar-menu > menuitem:not(:-moz-any([disabled],[checked="true"],[open],:active)):hover {
  background-color: hsla(210,4%,10%,.08);
  border-color: hsla(210,4%,10%,.1);
}

#downloadsbar-downnloads-menu > menu:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-downnloads-menu > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-downnloads-panbutclickmenu > menu:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-downnloads-panbutclickmenu > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-sendtomn > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-downnloads-submenu > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-copy-menu > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-statusbar-menu > menu:not([disabled]):-moz-any([open],[checked="true"],:hover:active),
#downloadsbar-statusbar-menu > menuitem:not([disabled]):-moz-any([open],[checked="true"],:hover:active) {
  background-color: hsla(210,4%,10%,.15);
  border-color: hsla(210,4%,10%,.15);
  box-shadow: 0 1px 0 0 hsla(210,4%,10%,.05) inset;
}

#downloadsbar-downnloads-menu > menu,
#downloadsbar-downnloads-menu > menuitem,
#downloadsbar-downnloads-panbutclickmenu > menuitem,
#downloadsbar-downnloads-menupnl > menuitem,
#downloadsbar-sendtomn > menuitem,
#downloadsbar-downnloads-submenu > menuitem,
#downloadsbar-copy-menu > menuitem,
#downloadsbar-statusbar-menu > menu,
#downloadsbar-statusbar-menu > menuitem {
  font: inherit;
}

#downloadsbar-downnloads-menu > menu:not([disabled="true"]),
#downloadsbar-downnloads-menu > menuitem:not([disabled="true"]),
#downloadsbar-downnloads-panbutclickmenu > menuitem,
#downloadsbar-downnloads-menupnl > menuitem,
#downloadsbar-sendtomn > menuitem:not([disabled="true"]),
#downloadsbar-downnloads-submenu > menuitem:not([disabled="true"]),
#downloadsbar-copy-menu > menuitem:not([disabled="true"]),
#downloadsbar-statusbar-menu > menu:not([disabled="true"]),
#downloadsbar-statusbar-menu > menuitem:not([disabled="true"]) {
  color: inherit;
}

/*#downloadsbar-sendto > .menu-right{
  display: none;
}*/

#downloadbar-checksum {
  -moz-appearance: none;
   background-color: transparent;
}

#downloadbarchksm-title {
  -moz-appearance: none;
  height:20px;
  margin-bottom:10px;
  border-radius: 10px 10px 0px 0px;
  font-size:14px;
  font-weight:bold;
  background:#bbb;
  text-align:left;
}

#downloadbarchksm-content {
  background-color: rgb(159,218,238);
  border-radius: 10px;
  font-family: arial, verdana, helvetica;
  font-size: 13px; 
  padding-bottom: 10px;
  color:#333;
  box-shadow: 2px 2px 8px 5px rgba(0,0, 0, 0.45);
}

.marg {
  margin: 0 10px;
}

#downloadbar-auscontrolsbutton,
#downloadbar-ausopenintabbutton,
#downloadbar-aushistrybutton,
#downloadbar-auschangemodebutton,
#downloadbar-aussettingsbutton,
#downloadbar-aushelpbutton {
  list-style-image: url("chrome://downloadbar/skin/bar_icons.png");
}

#downloadbar-auscontrolsbutton {
  -moz-image-region: rect(48px, 16px, 64px, 0);
}

#downloadbar-ausopenintabbutton {
  -moz-image-region: rect(144px, 16px, 160px, 0);
}

#downloadbar-aushistrybutton {
  -moz-image-region: rect(128px, 16px, 144px, 0);
}

#downloadbar-auschangemodebutton {
  -moz-image-region: rect(80px, 16px, 96px, 0);
}

#downloadbar-aussettingsbutton {
  -moz-image-region: rect(64px, 16px, 80px, 0);
}

#downloadbar-aushelpbutton {
  -moz-image-region: rect(112px, 16px, 128px, 0);
}

.auspaneltlbr {
  padding: 5px 10px 3px;
}