#downloadbar-controlsbutton,
#downloadbar-openintabbutton,
#downloadbar-histrybutton,
#downloadbar-changemodebutton,
#downloadbar-settingsbutton,
#downloadbar-helpbutton {
  list-style-image: url("chrome://downloadbar/skin/bar_icons.png");
}

#downloadbar-controlsbutton {
  -moz-appearance: none;
  -moz-image-region: rect(48px, 16px, 64px, 0);
  border: none;
  padding: 0 1px 4px 0;
}

#downloadbar-controlsbutton:hover {
  -moz-image-region: rect(48px, 32px, 64px, 16px);
}

#downloadbar-openintabbutton {
  -moz-appearance: none;
  -moz-image-region: rect(144px, 16px, 160px, 0);
  border: none;
  padding: 0 1px 4px 1px;
}

#downloadbar-openintabbutton:hover {
  -moz-image-region: rect(144px, 32px, 160px, 16px);
}

#downloadbar-openintabbutton:hover:active {
  -moz-image-region: rect(144px, 48px, 160px, 32px);
}

#downloadbar-histrybutton {
  -moz-appearance: none;
  -moz-image-region: rect(128px, 16px, 144px, 0);
  border: none;
  padding: 0 1px 4px 1px;
}

#downloadbar-histrybutton:hover {
  -moz-image-region: rect(128px, 32px, 144px, 16px);
}

#downloadbar-histrybutton:hover:active {
  -moz-image-region: rect(128px, 48px, 144px, 32px);
}

#downloadbar-changemodebutton {
  -moz-appearance: none;
  -moz-image-region: rect(80px, 16px, 96px, 0);
  border: none;
  padding: 0 1px 4px 1px;
}

#downloadbar-changemodebutton:hover {
  -moz-image-region: rect(80px, 32px, 96px, 16px);
}

#downloadbar-changemodebutton:hover:active {
  -moz-image-region: rect(80px, 48px, 96px, 32px);
}

#downloadbar-settingsbutton {
  -moz-appearance: none;
  -moz-image-region: rect(64px, 16px, 80px, 0);
  border: none;
  padding: 0 1px 4px 1px;
}

#downloadbar-settingsbutton:hover {
  -moz-image-region: rect(64px, 32px, 80px, 16px);
}

#downloadbar-settingsbutton:hover:active {
  -moz-image-region: rect(64px, 48px, 80px, 32px);
}

#downloadbar-helpbutton {
  -moz-appearance: none;
  -moz-image-region: rect(112px, 16px, 128px, 0);
  border: none;
  padding: 0 1px 4px 1px;
}

#downloadbar-helpbutton:hover {
  -moz-image-region: rect(112px, 32px, 128px, 16px);
}

#downloadbar-helpbutton:hover:active {
  -moz-image-region: rect(112px, 48px, 128px, 32px);
}
